<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #sidenav class="sidenav" mode="side" [(opened)]="opened">

    <mat-form-field>
      <mat-label>Select a Category</mat-label>
      <mat-select [(value)]="selectedCategory">
        <mat-option value="None">None</mat-option>
        <mat-option *ngFor="let category of categories" [value]="category">
          {{category}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="layers">
      <mat-label>Select a Layer</mat-label>
      <mat-select [(value)]="selectedLayer">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let layer of layers" [value]="layer">{{layer.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="selectedLayer">
      <mat-label>Filter By</mat-label>
      <mat-select [(value)]="selectedUniqueValuesField">
        <mat-option value="None">None</mat-option>
        <mat-option *ngFor="let uniqueValueField of selectedLayer.uniqueValueFields" [value]="uniqueValueField">
          {{uniqueValueField | titlecase}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="uniqueValues.length > 0">
      <mat-label>Filter Value</mat-label>
      <mat-select [(value)]="selectedUniqueValue">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let uniqueValue of uniqueValues" [value]="uniqueValue">
          {{uniqueValue}}</mat-option>
      </mat-select>
    </mat-form-field>

  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">
    <button mat-raised-button *ngIf="opened" (click)="sidenav.toggle()">Close Layer Selection</button>
    <button mat-raised-button *ngIf="!opened" (click)="sidenav.toggle()">Open Layer Selection</button>
    <app-map [featureLayerUrl]="selectedLayer?.url" [definitionExpression]="definitionExpression"></app-map>
  </mat-sidenav-content>

</mat-sidenav-container>
